.slider-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    // background-image: url('https://images.pexels.com/photos/1089842/pexels-photo-1089842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &::before {
        background-color: red;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo-cover {
    width: 100%;
}