@import "../../../partials/colors";
@import "../../../partials/breakpoints.scss";

.slider-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    // background-image: url('https://images.pexels.com/photos/1089842/pexels-photo-1089842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    // margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: 0px 0px;
}

.logo-cover {
    width: 100%;
    animation-name: logoentry;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
    animation-delay: 0.5s;
}

@keyframes logoentry {
    0% {
        opacity: 0;
        width: 0%;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

@include for-phone {
    .logo-cover {
        width: 80%;
    }
}

@include for-tablet {
    .logo-cover {
        width: 70%;
    }
}

@include for-desktop {
    .logo-cover {
        width: 50%;
        margin-top: 10vh;
    }
}
