.ui-about-container{
    width: 100vw;
    min-width: 100vw;
}
.ui-img {
    width: 100vw;
    height: 22vh;
    background-color: black;
}

.ui-about-content-text {
    width: 70vw;
    height: 60vh;
    background: #B13B3C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 8vh;
    border: 1px;
    border-radius: 80px 0px 80px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: -20px 20px 0px -4px rgba(255,255,255,0.26);
-moz-box-shadow: -20px 20px 0px -4px rgba(255,255,255,0.26);
box-shadow: -20px 20px 0px -4px rgba(255,255,255,0.26);
}
.ui-about-text{
    width: 60vw;
}

.ui-about-text-tittle{
    color: #fff;
    text-transform: uppercase;
    font-size: 4vh;
    display: block;
    text-align: center;
    margin-bottom: 2vh;
}
.ui-about-text-content{
    color: #fff;
    display: block;
    text-align: center;
    font-size: 15px;
} 

@media screen and (max-width: 768px){
    .ui-about-container{
        width: 100vw;
        min-width: 100vw;
    }
    .ui-img {
        width: 100vw;
        height: 22vh;
        background-color: black;
    }
    
    .ui-about-content-text {
        width: 70vw;
        height: 60vh;
        background: #B13B3C;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5vh;
        margin-bottom: 8vh;
        border: 1px;
        border-radius: 80px 0px 80px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-box-shadow: -20px 20px 0px -4px rgba(255,255,255,0.26);
    -moz-box-shadow: -20px 20px 0px -4px rgba(255,255,255,0.26);
    box-shadow: -20px 20px 0px -4px rgba(255,255,255,0.26);
    }
    .ui-about-text{
        width: 60vw;
    }
    
    .ui-about-text-tittle{
        color: #fff;
        text-transform: uppercase;
        font-size: 4vh;
        display: block;
        text-align: center;
        margin-bottom: 2vh;
    }
    .ui-about-text-content{
        color: #fff;
        display: block;
        text-align: center;
        font-size: 15px;
    }
}