.App{
    width: 100%;
    transition: 0.3s;
    &.right-move{
        position: absolute;
        left: 70vw;
        top: 0;
    }
    &.left-move{
        position: absolute;
        left: 0;
        top: 0;
    }

    .side-bar{
        &.side-visible{
            left: 0%;
            top: 0%;
        }
        &.side-hidde{
            left: -70vw;
            top: 0%;
        }
        transition: 0.3s;
        position: fixed;
        width: 70vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        background: #fff;
        position: fixed;
        .cross{
            width: 3vh;
            margin: 20px;
        }
        ul{
            width: 100%;
            height: 80vh;
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                color: #ba484a;
                font-size: 1.5em;
                margin: 5vh 30px;
            }
        }
        .logo-sidebar{
            margin: auto;
            width: 20vw;
        }
    }
    .the-other-content{
        background-image: linear-gradient(to bottom, #fff, #ba484a);
        height: 100vh;
        background-attachment: fixed;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        header{
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 10vh;
            img{
                height: 8vh;
                &:nth-child(1), &:nth-child(3){
                    height: 5vh;
                }
            }
        }
    }
}